<!DOCTYPE html>
<html>

<head>


  <meta charset="utf-8">
  <title>Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Popper JS -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </script>

  <!-- SOCIAL MEDI LIBRARY!-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">


  <style>
    h1 {
      text-align: center;
    }

    body {
      font-family: Arial, Helvetica, sans-serif;
    }

    /* Make the image fully responsive */
    .carousel-inner img {
      width: 100%;
      height: 100%;
    }

    .footer {
      padding: 2px;
      padding-top: 5px;
      margin-bottom: 2px;
      width: 100%;
      background-color: rgb(54, 54, 204);
      color: white;
      text-align: center;
      font-size: x-large;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg .navbar-dark" style="background-color:rgb(54, 54, 204)">
    <a class="navbar-brand" style="padding-left: 20px; color: white;" href="/">𝕀ℕ𝕊𝕀𝔾ℍ𝕋</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active text-light">
          <a class="nav-link" href="/" style="padding-left: 20px; color: white;">HOME <span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" style="padding-left: 20px; color: white;" id="navbarDropdown"
            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            DASHBOARD
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="Confirmed Cases">Corona Confirmed Cases</a>
            <a class="dropdown-item" href="Deaths Cases">Corona Death Cases</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="Dashboard1">Sentiment Analysis Dashboard 1</a>
            <a class="dropdown-item" href="Dashboard2">Sentiment Analysis Dashboard 2</a>
          </div>


        <li class="nav-item">
          <a class="nav-link" href="project" style="padding-left: 20px; color: white;">PROJECT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="team" style="padding-left: 20px; color: white;">TEAM INFO</a>
        </li>
        </li>

      </ul>
      <div>

        <button class=" btn btn-warning" data-toggle="modal" style="padding-left: 10px;" data-target="#myModal">LOGIN /
          SIGN UP </button>

        <br>

        <!-- The Modal -->
        <div class="modal fade" id="myModal">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">LOGIN</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>

              <!-- Modal body -->
              <div class="modal-body">

                <!--  form sign in vaala   </!-->
                <form action="/action_page.php">
                  <div class="form-group">
                    <label for="email">Email address:</label>
                    <input type="email" class="form-control" placeholder="Enter email" id="email">
                  </div>
                  <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" placeholder="Enter password" id="pwd">
                  </div>
                  <div class="form-group form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox"> Remember me
                    </label>
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <br>
                  <div>
                    <hr>
                    <button type="button" class="btn btn-outline-primary float-right">SIGN UP NOW</button>
                  </div>

              </div>
  </nav>

  </header>


  <h1><mark style="background-color: yellow; margin-top: 2px;">Sentiment Analysis of COVID-19 Tweets – Visualization
      Dashboard</mark></h1>

  <center><img src="https://jmsc.hku.hk/wp-content/uploads/2015/02/Computational-Twitter.png"
      style="vertical-align:middle;">
    <h2 style="color:blue;">We will extract data from twitter</h2>
  </center>

  <img
    src="https://image.freepik.com/free-vector/2019-ncov-wuhan-coronavirus-concept-with-man-showing-symptoms-transmission-preventions-information_1302-21756.jpg"
    class="floatLeft">

  <img src="http://news.indianservers.com/wp-content/uploads/2020/03/Coronavirus_Map_2-796x570-1-768x550.jpg"
    class="floatRight">
  <footer>
    <div class="footer">
      <h1 style="font-size: large;">© 2020 Copyright:Team INSIGHT - All Right Reserved</h1>
    </div>

  </footer>
  </div>
</body>

</html>